# Project Overview

You receive a European Soccer Database that has more than 25,000 matches and more than 10,000 players for European professional soccer seasons from 2008 to 2016. The goal is you walk through this database to do analysis include some steps for exploring our dataset, some steps for basics statistics and then you visualize the result. To complete all your steps, you need to query your data in the database using SQL statement. This project practices you write SQL command to pull data and extrac it.

# Database Description

This European Soccer Database has more than 25,000 matches and more than 10,000 players for European professional soccer seasons from 2008 to 2016, 11 European Countries with their lead championship. Players and Teams' attributes sourced from EA Sports' FIFA video game series, including the weekly updates.

# Import Python package

In [ ]:
#Import libraries
import numpy as np
import pandas as pd
import sqlite3
from datetime import timedelta
import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns", 100)

## Question 1: Connect to database and get information of all tables

Read https://docs.python.org/2/library/sqlite3.html

You write only SQL statement to get the result, should not use Pandas to manipulate result.

In [ ]:
#Connect to database 
# <write your code>
conn = sqlite3.connect('<write your code>')

#and get information of all tables
tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables

## Question 2: Select data in "Country" table

In [ ]:
#write your query
result = pd.read_sql("<write your sql statement here>", conn)
result

## Question 3: Select data in "League" table

In [ ]:
#write your query

## Question 4: Select League data with country information
The League table has relation with Country table by country_id. Use the join sql statement to join two tables.

In [ ]:
#write your query

## Question 5: Select data from _Match_ table
- When a team is serving as host of a contest, it is designated as the "home team". The opposing team is said to be the "away 
team"
- In Match table, each row is a match with one home team and one away team including home team goal and away team goal respectively

In [ ]:
#write your query

## Question 6: Select match data includes league and country information

The Match table has relation with:
 - Country table by country_id
 - League table by League_id
 
Use the join sql statement to join 3 tables.

In [ ]:
#write your query

## Question 7: Get number of match by each league including league name, order the number of match by descending

In [ ]:
#write your query

## Question 8: Get total goal of home team and away team in each league
- use Group By statement

In [ ]:
#write your query

## Question 9: Select data from Team table

In [ ]:
#write your query

## Question 10: Get top 20 teams with highest home goal
- Use GROUP BY, LIMIT statement

In [ ]:
#write your query

## Question 11: Get top 20 teams with highest away goal
- Use GROUP BY, LIMIT statement

In [ ]:
#write your query

## Question 12: Get team long name with total of goal, order the total number by descending

- Total of goal of a team is added up from both away and home games
- Use UNION statement

In [ ]:
#write your query

## Question 13: Get team long name with total of matches, order the total number by descending

In [ ]:
#write your query

## Question 14: Get numbers of win, lost and draw matches of each team

- If a team has home goal > away goal , team is “win” in this match
- If a team has home goal < away goal , team is “lost” in this match
- If a team has home goal = away goal , team is “draw” in this match
- Use Case When statement

In [ ]:
#write your query

## Question 15: Get top 10 team with highest numbers of win matches

In [ ]:
#write your query

## Question 16: Get percentage of each league to join the matches

In [ ]:
#write your query

## Question 17: Get percentage of score in each league

In [ ]:
#write your query

## Question 18: Get total numbers of goals for each league in each season

In [ ]:
#write your query

## Question 19: Get player attributes

- Convert weight to kilogram
- Convert height to meter
- Calculuate bmi = ( (weight* 0.453592) / (height/100)^2)
- Get Age of player

In [ ]:
#write your query

## Question 20: Get oldest player

In [ ]:
#write your query

## Question 21: Get players who played highest number of matches

In [ ]:
#write your query

## Question 22: Get players who had overall_rating larger than 80

In [ ]:
#write your query